[2019-09-28 17:39] sherifabdlnaby opened #1 "Not an Issue, this is to host README.md 😅"
![elastdocker](https://user-images.githubusercontent.com/16992394/65820321-a87ee080-e227-11e9-9c61-8cf60357a034.png)

[2019-09-28 18:00] #1 closed, assigned to nobody

[2019-09-30 09:23] notwedtm opened #2 "SSL Certificates"
It appears that SSL certificates that are generated during `make setup` never get injected into any containers. Is this a missing step?

[2019-09-30 09:24] notwedtm opened #3 "Template Button Fails"
Clicking the `Generate from Template` button leads to a 404.

[2019-09-30 10:00] sherifabdlnaby commented on #3
You have to be logged in otherwise it shows 404 (weird behavior from Github, should prompt you to log-in instead)

[2019-09-30 10:01] sherifabdlnaby commented on #3
https://github.com/sherifabdlnaby/elastdocker/generate
Please make sure you're logged in and check this link

[2019-09-30 10:06] sherifabdlnaby commented on #2
They're mounted as a secret, refer to the `docker-compose.yml` secrets part.

Docker-Compose won't start if they were not generated, and Elasticsearch won't start without having the SSL Certificates mounted if you succeeded in starting Elasticsearch.

so just do `make setup` followed by `make elk` or `make all` and you should be good to go.

[2019-09-30 16:43] #3 closed

[2019-09-30 16:43] #2 closed

[2019-09-30 20:47] ubhisat opened #4 "Docker-compose up causes AccessDenied Exception (elastisearch)"
Hello,
Thanks for this project. It is very helpful.

I followed the instructions and I see this error when running `make elk`...

[code]

I can provide full logs and other details if needed.
Thanks again.

[2019-09-30 21:42] sherifabdlnaby commented on #4
@ubhisat Are you running on Windows? Linux?

[2019-09-30 23:48] sherifabdlnaby commented on #4
@ubhisat I Identified a possible problem, I've pushed a fix.
Please update the repository(setup/setup-certs.sh file to be exact) and validate it's been fixed.

[2019-10-01 00:13] ubhisat commented on #4
Confirmed! I do not see that issue anymore.
Thanks for prompt fix!

[2019-10-01 04:54] #4 closed

[2019-10-09 19:16] AGSPhoenix opened #7 "docker-compose not found when running setup"
The README describes docker-compose as 'optional', but `make setup` immediately fails with an error if it's not on the PATH:
[code]
It seems like every target in the makefile uses docker-compose, which isn't very optional.

[2019-10-11 19:08] moshe opened #8 "Adding elasticsearch Comrade to the stack"
Hey @sherifabdlnaby 👋
I'm the maintainer of [elasticsearch-comrade an elasticsearch admin panel](https://github.com/moshe/elasticsearch-comrade) and I wonder if you will welcome a pr that adding Comrade to the stack

[2019-10-28 15:40] arudolph-cxt opened #9 "An illegal reflective access operation has occurred when running make setup"
Reproduction:

* clone the repo
* edit .env file to set elasticsearch password (not needed probably)
* run `make setup`

Console output:

[code]
Any subsequent rerun triggers the same warning/error.

[2019-11-08 16:04] arguser commented on #7
Hello @AGSPhoenix

It actually depends on `docker-compose`, you can optionally switch to that command or use `make`

[2019-11-14 15:51] #7 closed

[2019-11-15 07:42] sherifabdlnaby commented on #9
I was unable to reproduce the bug, it seems like a folder permission issue, can you confirm?

[2019-11-15 07:47] arudolph-cxt commented on #9
seems like this was the issue. I got it working in the meantime.

[2019-11-15 07:47] #9 closed

[2019-11-15 07:55] sherifabdlnaby commented on #8
Hello @moshe, first, I apologize for the late reply as I was away the past month. I didn't know about elasticsearch comrade, it looks very helpful, I'll give it a try, and of course, a PR is welcomed anytime 🙏🏻

[2019-11-20 16:00] #8 closed

[2019-12-03 13:07] nin-o opened #10 "Enabling SSL on HTTP not working"
Hello, thank you for the hard work on this project.

I uncommented the following lines in `elasticsearch/config/elasticsearch.yml`:

[code]
I noticed the following comment in the README file, but wasn't sure which specific action I need to take.

So I also updated `kibana/config/kibana.yml` to use `https` for `elasticsearch.hosts`.

When navigating to Kibana on my browser, it wasn't working. I che

[2019-12-11 08:17] sherifabdlnaby commented on #10
When enabling SSL/TLS secured communication to Elasticsearch cluster then every other client that uses Elasticsearch needs to be configured accordingly to be able to communicate with it.

In Kibana for example (reference [Encrypting communications in Kibana](https://www.elastic.co/guide/en/kibana/current/configuring-tls.html))

You need to add to configure the following
`elasticsearch.ssl.certific

[2019-12-11 08:17] #10 closed

[2020-04-07 15:02] sherifabdlnaby commented on #1
![C1AD9991-C555-47C9-866D-AD029936113D](https://user-images.githubusercontent.com/16992394/78685076-89a58900-78f1-11ea-959b-ce374fe51500.jpg)

[2020-04-10 21:12] ronsalas opened #11 "Question, newbie."
1. After having cloned the repository, and executing "make setup" I have the following error:

**sudo make setup**
make[1]: Entering directory `/home/****/elastdocker'
Building certs
Step 1/4 : ARG ELK_VERSION
ERROR: Service 'certs' failed to build: Please provide a source image with `from` prior to commit
make[1]: *** [certs] Error 1
make[1]: Leaving directory `/home/****/elastdocker'
make: *** [

[2020-04-11 17:29] sherifabdlnaby commented on #11
@ronsalas Can you please specify Docker's version you're using?

[2020-04-11 17:33] sherifabdlnaby commented on #11
This error occurs because older Docker versions couldn't have tags in the `FROM` directive and wouldn't allow Dockerfiles to start with anything but `FROM`; which is not the case with elastdocker that uses `ARG ELK_VERSION` to specify the stack version.

Please Update your Docker version and try again.

[2020-04-27 14:41] #11 closed

[2020-06-22 03:22] jclemons7 opened #14 "Update containers"
I'm sure I'm just missing it in the documentation, but how would I update the containers to a newer ELK stack version after the initial installation and configuration without losing data?

I used the project to build a 7.7.0 stack and it worked perfectly, but if I do this.. how would I subsequently upgrade to 7.8.0 for instance?  I can always change the build number in the script, but if I run it

[2020-06-22 10:41] sherifabdlnaby commented on #14
1. You won't lose your data, Data are in Docker Volumes and it needs to be explicitly deleted, they are not inside the containers and won't be deleted with it.
2. New MINOR versions are compatible with the data, so just upgrading the `ELK_VERSION` in `.env` should be enough.

[2020-06-23 00:02] jclemons7 commented on #14
After that, do I just do the make setup; make elk thing again ?

[2020-06-30 17:51] sherifabdlnaby commented on #14
Only `make elk` will do, you won't be needing `make setup` unless you want to change saved credentials or want to refresh/change certificates used.

[2020-06-30 17:51] #14 closed

[2020-07-03 10:27] Bouzeghoub opened #15 "ELK Status"
Hello,
I have problem

![image](https://user-images.githubusercontent.com/16193005/86460284-0349e900-bd20-11ea-98e3-b9344a199871.png)

Best regards.

[2020-07-03 13:15] sherifabdlnaby commented on #15
This is not a problem, Elasticsearch default sharding and replication configuration expect at least 3 nodes, when you're running only one node the health is YELLOW.
You need to either:
1. Spin up two extra nodes using `make nodes`. However, this is redundant for local development(And in Production if all nodes are on the same host).
2. Change Elasticsearch default index sharding and replication to

[2020-07-03 13:52] Bouzeghoub commented on #15
Thank you so much.
Please could you show us steps for deploy elk and tools and integration plugin elastalert to kibana.

[2020-07-03 15:08] sherifabdlnaby commented on #15
You're welcome.
Adding ElastAlert plugin to kibana is already setup, you'll just need to uncomment some code, and tweak anything that is no longer compatible with `7.8.0`.

[2020-07-03 16:46] #15 closed

[2020-07-04 19:21] Bouzeghoub opened #16 "ElastAlert plugin"
Hello,
ElastAlert plugin for kibana is compatible with 7.7.0 ?
Best regards

[2020-07-05 12:02] sherifabdlnaby commented on #16
@Bouzeghoub No, ElastAlert plugin is no longer supported for newer Kibana versions. There are forks that support up to 7.8.0 though.

[2020-07-05 17:28] #16 closed

[2020-07-05 19:29] Bouzeghoub commented on #16
Thank you so much Bro.

[2020-07-05 22:25] sherifabdlnaby commented on #16
All the included tools are supported for ELK 7.8.0.
I can’t list all other Kibana tools/plugins as they are so many.
What are you looking for exactly?

[2020-07-06 09:25] Bouzeghoub commented on #16
Thank  you Bro,
Please, I want complete SIEM platform.

[2020-07-06 09:36] sherifabdlnaby commented on #16
It's a good start having Elastic Stack up and running, you can then start the Trial version and experiment.
For more information check https://www.elastic.co/siem

[2020-07-06 09:48] Bouzeghoub commented on #16
I apologize, I got tired of you.
I want to automate deploy this platform with Docker after with K8S.
![image](https://user-images.githubusercontent.com/16193005/86580018-09390780-bf76-11ea-909c-073c2736b6ba.png)

[2020-07-06 12:35] sherifabdlnaby commented on #16
Then you have the first thing Up which is Elastic Stack, also ElastAlert is included with Elastdocker. You need to spin up all these other tools incrementally until you achieve what you want. I can't really help much to be honest.

[2020-07-23 12:47] pravnkr opened #17 "Docker swarm support"
Ask a question...
How the elastdocker can be used with docker swarm..

[2020-08-04 15:41] doludizgin opened #18 "Getting errors on kibana and logstash"
i just runned the script, didnt make any changes.

Elastic cluster gets created but kibana and logstash are giving errors:

{"type":"log","@timestamp":"2020-08-04T15:37:44Z","tags":["warning","elasticsearch","admin"],"pid":8,"message":"Unable to revive connection: http://elasticsearch:9200/"}

If i do a:

curl -XGET -u elastic:changeme 'localhost:9200/_cluster/health?pretty it gives an output of t

[2020-08-04 17:01] doludizgin commented on #18
If i test from the kibana docker console to the elasticsearch:9200 i get a no route to host, but i can ping the elasticsearch on the internal ip addr.

[2020-08-04 17:11] sherifabdlnaby commented on #18
Weird. Please inspect the network created and see if all containers shares the same network.

[2020-08-04 17:13] doludizgin commented on #18
i found it, its an Centos 8 problem with docker dns:

https://github.com/docker/for-linux/issues/957

(1) just use masquerade will make this work

firewall-cmd --zone=public  --add-masquerade --permanent
firewall-cmd --reload
from comment in <https://linuxconfig.org/how-to-install-docker-in-rhel-8 >

(2)set docker0 to trusted

firewall-cmd --zone=trusted --add-interface=docker0 --permanent
firewal

[2020-08-05 04:22] caotangdaiduong opened #19 "Elasticsearch, kibana constantly restarting"
I have tried to initialize many times with the available configurations, only changing the password. However, it still failed to reboot the container

![tempsnip](https://user-images.githubusercontent.com/28684084/89371490-ba65c580-d70d-11ea-913f-47ae704b7ddc.png)

[2020-08-05 17:59] sherifabdlnaby commented on #18
Thank you for posting the solution you found, I will add a note to the README for CentOS 8 users.

[2020-08-05 17:59] #18 closed

[2020-08-05 18:13] sherifabdlnaby commented on #19
Please use `docker logs` and inspect Elasticsearch logs and post what it says.
Also, since you're using CentOS, please check #18 and see if it helps.

[2020-08-06 01:22] caotangdaiduong commented on #19
firewall-cmd --zone=public --add-masquerade --permanent
firewall-cmd --reload
[putty.log](https://github.com/sherifabdlnaby/elastdocker/files/5031974/putty.log)

[2020-08-06 01:26] caotangdaiduong commented on #19
I have tried with your case:
firewall-cmd --zone=public --add-masquerade --permanent
firewall-cmd --reload
firewall-cmd --zone=trusted --add-interface=docker0 --permanent
firewall-cmd --reload
**And check log:**
make logs
docker logs 17bd1e1102e1 [elastic_elasticsearch_1]
docker logs efc98748928c [elastic_kibana_1]
Pls check
[putty.log](https://github.com/sherifabdlnaby/elastdocker/files/5031992/p

[2020-08-06 16:54] sherifabdlnaby commented on #19
Elasticsearch failed the bootstrap checks
[code]

Run this command your Docker's host to increase `vm.max_map_count`
[code]

[2020-08-06 16:55] sherifabdlnaby commented on #19
Please confirm it was fixed and close the issue as this note was mentioned at the README, so no updates from my side needs to be done.

[2020-08-07 04:11] caotangdaiduong commented on #19
Hi, error with kibana, please check below:
![image](https://user-images.githubusercontent.com/28684084/89608212-b87f3c00-d89e-11ea-837e-652808064e40.png)
[putty v2.log](https://github.com/sherifabdlnaby/elastdocker/files/5039257/putty.v2.log)

[2020-08-07 13:37] sherifabdlnaby commented on #19
It looks like you uncommented the ElastAlert config in Kibana.yml without adding the plugin to the image, so Kibana fails to start because there is an unknown configuration.
[code]
Please comment this configuration.

[2020-08-09 07:48] caotangdaiduong commented on #19
I left the profiles completely defaults. I used Centos 8 and it worked.
It seems you don't have the recommended configurations: CPU, RAM, OS ?

[2020-08-09 09:12] caotangdaiduong commented on #19
How to change ssl for my domain example.com?
I have tried changing the DNS in setup / instances.yml and make cert, make restart, but not working
![image](https://user-images.githubusercontent.com/28684084/89728909-f9bc4b00-da5a-11ea-9f0b-c511d62d1549.png)

[2020-08-16 10:07] sherifabdlnaby commented on #19
Please head out to the [elasticsearch cert utility documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/certutil.html) and change the script according to your needs

[2020-08-18 22:29] sherifabdlnaby commented on #19
Since the original problem of the issue is solved I am closing this one. ✌️

[2020-08-18 22:29] #19 closed

[2020-08-20 09:44] ricardo-lobo opened #20 "Unable to change default user/password"
I have tried to change the default user/password in the .env

Ran the make setup but didn't fix anything

With the default configuration everything works fine.

[2020-08-23 20:34] sherifabdlnaby commented on #17
It should be easy to convert the setup to Docker Swarm instead of compose, I will work on that when I have time.

[2020-08-23 20:53] sherifabdlnaby commented on #20
Please make sure you restart the stack.
I can change password using `make setup` and `.env` using the latest version of elastdocker.

Make sure filesystem ain't cached (Sometimes in MacOS this happen)

[2020-08-27 07:00] phieuvk96 opened #21 "ElasticAlert"
Is ElasticAlert compatible with ELK 7.9 ?

[2020-09-06 02:51] hashwin opened #22 "Production readiness"
Hi @sherifabdlnaby

Firstly, nice idea on this project, I feel very strongly about this that setting up an elastic cluster should not be such an effort, especially when deploying projects on multiple client locations. I should just be able to, after setting my domain name and node configuration, run a single command on my server, and I should have, out of the box, Elasticsearch, Kibana, Elastic AP

[2020-09-06 20:21] sherifabdlnaby commented on #20
I’m closing this issue _for now_ because of inactivity and my inability to reproduced the behavior you mention.
@ricardo-lobo we can always reopen it though! :)

[2020-09-06 20:21] #20 closed

[2020-09-06 20:29] sherifabdlnaby commented on #21
It's working for the features I am using, you can also ask at ElastAlert's repo if they fully support 7.9.

[2020-09-06 20:29] #21 closed

[2020-09-07 07:04] ricardo-lobo commented on #20
Sorry for not giving any feedback regarding this issue. Actually I also cannot reproduce this error again. It was probably misconfiguration from my part! Thanks for the repo!

[2020-09-08 21:35] sherifabdlnaby commented on #1
![Screen Shot 2020-09-08 at 11 34 51 PM](https://user-images.githubusercontent.com/16992394/92530071-f10e8e80-f22b-11ea-8beb-8267f7849762.png)

[2020-09-08 22:04] sherifabdlnaby commented on #1
![Screen Shot 2020-09-09 at 12 04 10 AM](https://user-images.githubusercontent.com/16992394/92532187-08e81180-f230-11ea-96c9-07e9331411bc.png)

[2020-09-08 22:12] sherifabdlnaby commented on #17
Docker Swarm support in the next release, however, I do not recommend it.
Elastdocker is not designed for workloads that need more than a single host, if I need more than one host then I recommend Kubernetes or a SaaS offering.

Docker Swarm does not support setting `ulimts`, to use elastdocker setup you need to disable `bootstrap.memory_lock` in `docker-compose.yml` and find a way to disable swap

[2020-09-08 22:12] #17 closed

[2020-09-08 22:42] sherifabdlnaby commented on #22
Hey @hashwin

I am glad you found this project useful. As for:

Elastdocker is ideally used for a small workload single node cluster on a single docker host managed manually (No Swarm or K8s, etc), exposing this host to the web (or your other internal networks) varies depending on your service provider (EC2, Azure, etc), so the documentation focuses on setting up the docker host itself and it is u

[2020-09-08 22:44] sherifabdlnaby opened #23 "Add Let's Encrypt to Elastdocker"
#22

[2020-09-22 14:54] SelfhostedPro opened #24 "TLS isn't setup"
**Describe the bug**
TLS doesn't get setup when following the setup.

**To Reproduce**
Steps to reproduce the behavior:
1. On a fresh node, clone the repo.
2. Run `make setup`
3. Run `make elk`

**Expected behavior**
TLS security is setup so native alerting works.

**Screenshots**
![image](https://user-images.githubusercontent.com/66331933/93899110-d5ce6500-fca8-11ea-805e-1a6001f2d458.png)

Only c

[2020-09-22 15:47] sherifabdlnaby commented on #24
This is not a bug, in the README It is mentioned that the TLS is set up for Transport Layer only and not HTTP Layer.

This decision was based on the face that enabling TLS for the HTTP Layer requires all clients connecting to Elasticsearch to be configured with the TLS Certificates which complicates using Elastdocker out of the box as you will need to configure TLS to every client/library you're u

[2020-09-22 15:50] sherifabdlnaby commented on #24
I thought about maintiang two branches with and without TLS enabled for HTTP, but I thought it would make it harder to maintain. What are your thoughts ? I don't want Elastdocker setup to force additional configuration to your web app that connects to Elasticsearch and hence was the decision to let it disabled by default.

[2020-09-22 15:53] SelfhostedPro commented on #24
That definitely makes sense. I was a bit confused as it complains about TLS not HTTP security. Maybe just changing the wording in the documentation (possibly adding a screenshot) would resolve that issue for most people. I wouldn't worry about maintaining another branch just for that.

[2020-09-22 16:42] sherifabdlnaby commented on #24
Before 7.8.0 it was not required to has TLS enabled for HTTP to use alerts.

[2020-09-22 16:42] #24 closed

[2020-09-25 19:09] #22 closed

[2020-09-30 13:09] stianvale opened #25 "'Your connection is not private'"
Hi!
Great repo and article on towardsdatascience! Thanks for that!

I am getting the 'Your connection is not private' when trying to access https://localhost:5601 (kibana) in my web browser (NET::ERR_CERT_AUTHORITY_INVALID).

Do you have any ideas on what might be missing in order to get the certificate validated?

Best regards,
Stian

[2020-10-03 10:22] sherifabdlnaby commented on #25
That's normal, we're using a "self-signed" certificates, so your browser will warn you about this because in an actual production website you'll need to sign your certificate with a Certificate Authority Service.

Anyway, I'll assume you're using Chrome, just click "Advanced Options" -> "Proceed To Website Anyway"

[2020-10-03 10:22] #25 closed

[2020-10-27 09:50] allenshau opened #26 "kibana:elastdocker-7.9.2 STATUS unhealthy"
Looks the unhealthy caused "Kibana server is not ready yet".
How should I do?

[2020-10-27 10:06] allenshau commented on #26
I found something about 7.9.3 downgrade 7.9.2 message although I use 7.9.2 in '.env':

{"type": "server", "timestamp": "2020-10-27T09:39:12,425Z", "level": "INFO", "component": "o.e.e.NodeEnvironment", "cluster.name": "elastdocker-cluster", "node.name": "elastdocker-node-0", "message": "heap size [1gb], compressed ordinary object pointers [true]" }
{"type": "server", "timestamp": "2020-10-27T09:39

[2020-10-28 04:57] sherifabdlnaby commented on #26
Are you sure you have not used `v7.9.3` at any point in time? because if so, Elasticsearch may make changes to its internal state that cannot be reverted, this state is persisted in the volume Docker creates for Elasticsearch and this volume isn't erased or replaced when you change the Elasticsearch containers.

Two possible ways to fix that:
1. If the data is not important, or not initialized yet

[2020-10-28 04:58] sherifabdlnaby commented on #26
If you haven't used `v7.9.3` at any point, then we would need extra investigations as I can't replicate this at my setup.

[2020-10-28 07:56] allenshau commented on #26
I tried to use 7.9.2 - not work.
I even tried to use 7.2.0 - not work either.
I finally use 7.9.3, not work either again. (no the error message cannot downgrade a node from version [7.9.3] to version [7.9.2] above.)
I am using Windows 10 20H2, Docker Desktop 2.3.0.5 with/without using WSL 2 - not work!
I'll try other environments to dig out further...
PS. Maybe you need to test 7.9.3 since the err

[2020-10-28 11:29] sherifabdlnaby commented on #26
Looking at it

[2020-10-28 14:24] allenshau commented on #26
Hi sherifabdlnaby ,

From your comments, I tried to totally clean my docker environment (2 cases: install another Win 10; prune the original one) and re-setup the ELK again.
And according to some error/warning messages, I expanded the host's RAM to 16GB and the docker resource to 6GB.
(Windows 10 20H2 with 16GB RAM, Docker Desktop 2.3.0.5, **not** using WSL 2)

Finally **it works** although with 2

[2020-10-31 01:00] sherifabdlnaby commented on #26
Hey @allenshau, I updated elastdocker to 7.9.3 today, and I didn't have a problem that led the stack to be in an unhealthy state.
I tried:
1- Upgrade an already existing `7.9.2` setup.
2- A clean install.

Also, by-reading (and according to SemVer) `7.9.2` -> `7.9.3` should not have any compatibility issues with any config when upgrading.

Can you share the logs from a starting elasticsearch or ki

[2020-11-01 09:35] allenshau commented on #26
Hi @sherifabdlnaby

1. I re-cleaned my machine docker environment.

    rm all containers, images, volumes, networks
    prune container, volume, image, system, network

2. I re-donwloaded the new version from GitHub again (7.9.3)

3. make setup and make elk

4. Unfortunately, I still got 2 unhealthy containers, however, the https://localhost:5601/ works as the same.

[code]
5. I attached the 6 lo

[2020-11-02 01:29] sherifabdlnaby commented on #26
I am not able to point out why it is unhealthy, the healthcheck script reports healthy for `green` and `yellow` status, if it is unhealthy that means Elasticsearch is `red` and subsequently, Kibana will be `red` too. You need to investigate why the Elasticsearch is not health at your setup, I've looked into the looks but it seems incomplete.

[2020-11-02 03:14] allenshau commented on #26
I tried to inspect the containres by using **docker inspect (id)**.
I found some things like **"Output": "./docker-healthcheck: line 2: set: pipefail\r: invalid option name\n".**
I also attached the logs for your reference.

[code]

[inspect-logs.zip](https://github.com/sherifabdlnaby/elastdocker/files/5472581/inspect-logs.zip)

[2020-11-02 04:29] allenshau commented on #26
Hi @sherifabdlnaby,

From the message "... pipefail\r ...", then I guessed it should be from the DOS/UNIX EOL issue.
Looks these 2 scripts below were save as DOS text format.
[code]
I converted them to UNIX text format and then stop/re-run these containers.
Now they all are healthy status.

Thanks a lot!

PS. You might need to update the source as well.

[2020-11-02 20:57] sherifabdlnaby commented on #26
It is strange you had that because `.gitattributes` is configured to set EOL to LF for all *.sh files
https://github.com/sherifabdlnaby/elastdocker/blob/ed9f0d089ab9692fc25c562691bb21ffc69baf31/.gitattributes#L2

And I validated that by cloning the repository and check files and they were indeed LF.

[2020-11-02 20:58] sherifabdlnaby commented on #26
Glad you found the issue and thank you for sharing your findings <3

[2020-11-03 00:42] allenshau commented on #26
I found you closed this issue.
However, for Windows Docker Desktop users, you are supposed to correct `.gitattributes` since these 2 bash scripts are named without extension which make the `*.sh text eol=lf` no effect.
It would be some wording like:
`scripts/* text eol=lf`
or
`docker-healthcheck text eol=lf`

Anyway, thanks for your efforts on this.
I learnt a lot.

[2020-11-03 02:36] sherifabdlnaby commented on #26
You're right, sorry, I must have not been paying enough attention. I re-opened the issue until It is fixed, I suggest you make a PR to give yourself the contribution credits since you figured this out 👍  I'll wait some time for your PR if you want otherwise I'll fix it myself soon.

[2020-11-03 14:20] allenshau commented on #26
I made a PR as your suggestion. :)
Hope I am doing right; you can see this is my first experience in GitHub.
Many thanks.

[2020-11-03 14:20] #26 closed

[2020-11-12 15:36] connorwang opened #28 "Stuck at pip install elasticsearch-curator"
Installation with alpine3.8 as base image stuck at downloading package stage. Using debian with apt installation works.

[2020-11-17 15:27] Volfskin opened #29 "Configure Fleet on Elastdocker"
Hello, is there a possibility to configure this docker with Fleet and set:
![image](https://user-images.githubusercontent.com/57900928/99409432-0a058100-28fa-11eb-91f2-1ee8d38ed155.png)
?
because after I'm setting the required information, the kibana server stops to respond.

Thank u for your time spent on this q. :)

[2020-11-23 19:04] devops-vivanetworks commented on #26
i get the error..
elastic_elasticsearch_1   /tini -- /usr/local/bin/do ...   Up (health: starting)   0.0.0.0:9200->9200/tcp, 0.0.0.0:9300->9300/tcp
elastic_kibana_1          /usr/local/bin/dumb-init - ...   Up (unhealthy)          0.0.0.0:5601->5601/tcp
elastic_logstash_1        /usr/local/bin/docker-entr ...   Up (healthy)            0.0.0.0:5044->5044/tcp, 0.0.0.0:9600->9600/tcp

and the elastic

[2020-11-23 20:04] sherifabdlnaby commented on #28
Yes, I replicated that too. It was a mistake not using versioned install commands in this part and looks like something updated and was not backward compatiable.

I will look into it and fix it as soon as possible for me.

[2020-11-23 20:07] sherifabdlnaby commented on #29
Yes, enabling `xpack.security.authc.api_key` requrires Elasticsearch to use SSL at the HTTP layer which is disabled by default in Elastdocker in favor of convenience as noted in the README.md.

You can enable SSL at HTTP by uncommenting the lines in elasticsearch.yml config, add the extra line in the screenshot and finally configure Kibana and Logstash and any other tool/code that connects to Elas

[2020-11-23 20:07] #29 closed

[2020-11-24 09:17] Volfskin commented on #29
thank you so much for replying to me with so many tech-details, All clear now! have a great weak ahead.

[2020-12-07 15:05] #28 closed

[2020-12-07 17:05] amitkurud commented on #23
Do you need help with this?

[2020-12-07 21:50] sherifabdlnaby commented on #23
I haven't been having enough time to add it to Elastdocker myself, any help would be appreciated of course ❤️

[2020-12-08 11:17] amitkurud commented on #23
ok , did you have something in mind on how it should be done ?

[2020-12-08 11:22] amitkurud commented on #23
i was thinking using certbot and creating `make setup-letsencrypt` then compiling in directory to create certs. or do you have some other idea  ?

[2020-12-15 21:57] henrypalacios opened #31 "How I can make curl request with p12 Authentication to elasticsearch?"
I'm a newbie in **elasticsearch**,
When I tried to make a request  to elasticsearch server with:
`curl --cert-type P12 --cert elastic-certificates.p12: -X GET "https://localhost:9200/_cat/nodes?v&pretty`  -k

I always get a
[code]

[2020-12-21 21:33] henrypalacios commented on #31
I saw that I need to _**enable**_ **SSL** in the **HTTP** layer, I did add these lines:
[code]

Then, I did a curl Request like this one:
[code]

[2020-12-21 21:33] #31 closed

[2021-01-03 16:12] tvlc opened #32 "Kibana docker-healthcheck script error"
Kibana docker healthcheck is failing:
./docker-healthcheck: line 5: python: command not found curl: (23) Failed writing body (0 != 16384)
Script is using python, which is not available.

[2021-01-05 02:52] sherifabdlnaby commented on #32
Can confirm, python must have been removed in new images. It is not used heavily tho, I think `jq` can do its job here.
I Will fix this when I have time, also PRs are welcomed ;)

[2021-01-06 05:07] wallopthecat commented on #23
Example of how someone else did it: https://github.com/swimlane/elk-tls-docker

[2021-02-02 08:43] stevenvanryckeghem opened #33 "Building the curator docker image fails: py2-pip permission denied"
**Describe the bug**

Building the curator image fails when running 'make all' command.

**To Reproduce**

Execute 'make all'

**Errors**

[2021-02-02 09:27] stevenvanryckeghem commented on #33
It suddenly works now, probably a glitch somewhere? Didn't do anything special really...

[2021-03-02 06:38] okanakdogan opened #34 "Not working with custom username"
**Describe the bug**
stack not working with changing only username & password.
I changed username as "okan" and password "pass" for testing
If I use default username 'elastic', it's working.

**To Reproduce**
Clone the repo.
change username & password in .env file.
make setup
(virtual memory size set for linux)
make elk

**Expected behavior**
Run stack and see kibana login screen

Logs of elastics

[2021-03-02 07:28] sherifabdlnaby commented on #34
1. Are you trying to change that master username after initializing the cluster?
2. Have you re-run the setup step `make setup`?

[2021-03-02 08:31] okanakdogan commented on #34
Hey,
1. No, first thing I did is changing username&password in env. file. I didn't run any container before that.
2. Yes, I changed first env file then execute "make setup".

I read about "system built-in users" of elasticsearch. I guess this is a built-in username.
Can you change that username for fresh start?

[2021-03-03 09:43] helgetan commented on #23
would like to push this topic:) Any plans here?

[2021-03-06 15:46] cahuete95 commented on #32
Hi,

Same probleme noticed here.

[2021-03-06 22:27] sherifabdlnaby commented on #32
Yes, I just haven't had the time to re-implement the healthcheck without python or `jq`, I removed the healthcheck from the latest version to avoid confusion, but I kept the issue open to eventually get to it.

[2021-03-09 07:06] cahuete95 commented on #32
👍

[2021-03-10 04:35] poorejc opened #35 "Logging to Beats Endpoint (Logstash) and NET::ERR_CERT_INVALID"
Hi!

Great stack! I was able to get your stack running on a Linux VM using docker-machine and virtual box (I still like docker-machine). Running Docker Engine and Compose @ latest through Docker Desktop on Mac. Stack is running well and builds well. Two questions:

I'm trying to send json logs to the beats input port (5044), but doesn't look like I'm getting anything through at http://localhost:50

[2021-03-15 20:06] dgknuth commented on #35
I'm having a similar issue.  The defaults build for this creates all of the certs for Kibana and Logstash assuming localhost. However, unless I map localhost to the server's actual IP, nothing can reach Kibana, or any of the other ELK stuff.

If I do map through the hosts file, I can access everything, but when I attempt to set up Beats to send data and find the Kibana instance, it fails telling m

[2021-03-17 14:16] caotangdaiduong opened #36 "Kibana not connect Elastalert"
FATAL  Error: Unknown configuration key(s): "elastalert-kibana-plugin.serverHost", "elastalert-kibana-plugin.serverPort". Check for spelling errors and ensure that expected plugins are installe

my config kibana/config/kibana.yml:
## ElastAlert Plugin
elastalert-kibana-plugin.serverHost: elastalert
elastalert-kibana-plugin.serverPort: 3030

ElastAlert contaner is running with "make tools"

Plz hel

[2021-03-18 01:18] sherifabdlnaby commented on #34
@okanakdogan Oh, you're right, I don't remember why I had it this way, You can override the bootstrapping username yes. I'll update the repo and remove the option to avoid confusion. Sorry for the confusion too :')

[2021-03-18 01:18] #34 closed

[2021-03-18 02:12] sherifabdlnaby commented on #36
You'll need to add to also uncomment the part in `Dockerfile` to install the plugin.
However, this ElastAlert is inactive and does not support latest Kibana versions, so uncomment it and enable it if you're using a supported version by the plugin.

[2021-03-18 02:20] sherifabdlnaby commented on #35
Trying to send events through logstash is working fine with me. I did it using a container on the same docker-compose network using the following output configuration:
[code]
One thing I noticed in your comment is using  http://localhost:5044 or https://localhost:5044 ... this should work. the connection to Logstash beats is a TCP connection not HTTP.

For Kibana, it should open if ES has no data.

[2021-03-19 15:52] HedgeShot commented on #35
Hi,

I also have trouble sending logs to logstash. The ELK stack is up and running, I can access Kibana's interface.
When sending logs to logstash, logstash container logs show: `Invalid version of beats protocol`

I did a very simple test by adding a dummy container to the docker-compose available in this repo, so that I am extra sure of being on the same network:

[code]

Also note that I tried

[2021-03-19 17:11] sherifabdlnaby commented on #35
I would like to note two points:
1. If your container can't connect to logstash via `logstash` hostname, then it must have been started in another network other than the docker network for elastdocker ( by default its name is `elastic`), it is reachable via localhost because the container exposes the same port to localhost. so please double check the networking setup.
2. The endpoint at `5044` is

[2021-03-23 16:02] HedgeShot commented on #35
Thanks for your input but I still can't make it work. The dummy container is indeed on the `elastic` network (testlogs):

[code]

Following your comment, I added the following line to the `Dockerfile` of logstash:
`RUN logstash-plugin install logstash-input-syslog `

I added this part in the docker-compose file provided in this repo:

[code]

where testlogs is a simple python webapp, the app has a

[2021-03-23 16:32] HedgeShot commented on #35
Update:
I could make it work by using `gelf` driver instead. The only annoying part is that I need to set `127.0.0.1` for the IP address of logstash. If I set logstash or localhost, if fails or doesn't show anything in Kibana.

[2021-03-24 01:38] sherifabdlnaby commented on #35
Aha, sorry I missed this point, you're sending the logs via Docker's driver, if you think about it, the driver itself is not part of the container's network, it is a construct of the host. And that's why the driver (being on the host) won't have access to hostname `logstash` that is only at the container network.

[2021-03-31 05:50] #35 closed

[2021-03-31 05:50] #36 closed

[2021-06-06 02:47] caotangdaiduong opened #37 "Very slow when upgrade from 7.10 to 7.12.0"
I upgrade the JVM memory 4GB will it affect. My server has 12 core configuration, 16GB RAM

![image](https://user-images.githubusercontent.com/28684084/120910229-543c2d00-c6a7-11eb-8d6c-137a7892b3ad.png)

[2021-06-06 07:22] caotangdaiduong opened #38 "Kibana data"
When i upgrade the version, all the data of ES is kept but with Kibana (Dashboard, Index patterns) data is lost. Can you map kibana data to the local drive?

[2021-06-06 18:04] sherifabdlnaby commented on #38
Kibana doesn't have any data of itself, it saves its state to Elasticsearch. Make sure Kibana indices are migrated.

[2021-06-06 18:06] sherifabdlnaby commented on #37
If the server is 16GB and you're using it exclusively for Elasticsearch, then you might wanna increase the JVM Heap to around 8~9GB otherwise you'll be underutilizing your resources.

Also, the disk type (Magnetic, SSD, etc ) affects Elasticsearch performance signficantly.

[2021-06-13 21:22] #38 closed

[2021-06-13 21:22] #37 closed

[2021-07-27 23:22] evgeniy123 opened #40 "deploy your project on the server HTTPS"
what needs to be changed in the settings to deploy your project on the server https (https://test.mysite.com) ?

[2021-07-30 22:30] #40 closed

[2021-07-30 22:31] evgeniy123 commented on #40
Resolved. It was my mistake

[2021-09-08 10:59] #32 closed

[2021-09-14 02:04] haidt7 opened #41 "How to enable alert in elastdocker"
Ask a question...

Dear @sherifabdlnaby,
First, thanks you so much for your guide, it is very helpful for a newbie like me. But I have a question, how can i enable alert for Kibana, it says i must be enabled TLS:
![image](https://user-images.githubusercontent.com/10104900/133182422-45a60527-83fa-4952-8e68-39756ebd0d7d.png)
But in Repository Introduction => Main Features => SSL Enabled for Transpor

[2021-10-21 16:04] Dalador1 opened #42 "Enable SSL on HTTP"
Hi! Thank you for this awesome project!

Could you please, add some guide to enable SSL on HTTP?

Should i use certs that generates for TLS and add path to them in kibana.yaml, logstash.yaml etc?

Thank you!
Best regards.

[2021-12-25 19:20] sherifabdlnaby commented on #42
@Dalador1 With the release of v2.0.0, HTTPS is now enabled by default.

[2021-12-25 19:21] sherifabdlnaby commented on #41
@haidt7 With the release of v2.0.0, TLS on Transport Layer is enabled by default.
  - Enables the usage of ELK Alerts
  - Enables the usage of ML Jobs
  - Enables the usage of SIEM features

[2021-12-25 19:22] sherifabdlnaby opened #44 "Update README with latest Images and screenshots."

[2021-12-25 19:23] sherifabdlnaby opened #45 "Use `metricbeat` instead of Self-Monitoring"
For 8.0 Upgrade

[2021-12-25 20:11] sherifabdlnaby opened #46 "Create a CI Tests"

[2021-12-28 16:06] vkobozev opened #47 "make down command not working"
**Describe the bug**
'make down' command not working

**To Reproduce**
[code]

**Solution:**
edit `./docker-compose.tools.yml`:
currently - `RUBBAN_AUTOINDEXPATTERN_ENABLED: true`
should be - `RUBBAN_AUTOINDEXPATTERN_ENABLED: 'true'`

BR,
Vasily.

[2021-12-28 16:47] sherifabdlnaby commented on #47
@vkobozev Weird, it's not reproducible in my machine. Maybe it has to do with the docker-compose version. Mind if you share your docker and docker-compose version?

I'll push a fix anyway though.

[2021-12-29 10:03] vkobozev commented on #47
Here you are.
Maybe it is regarding the versions.
Anyway, I would appreciate if you consider to add quotes for compatibility.

[code]

[2021-12-29 12:53] #47 closed

[2021-12-29 12:54] sherifabdlnaby commented on #47
@vkobozev Fixed in PR #48

[2021-12-30 21:47] #42 closed

[2021-12-30 21:47] #41 closed

[2022-01-01 16:59] sherifabdlnaby commented on #1
![elasticstack](https://user-images.githubusercontent.com/16992394/147855783-07b747f3-d033-476f-9e06-96a4a88a54c6.png)

[2022-01-01 17:23] #44 closed

[2022-01-12 06:45] bbatmandakh opened #53 "How to add logstash plugins?"
Hi,

In previous releases, there was Dockerfile for each app(elastic, logstash, kibana)...Looks like its missing.
Where I can install plugins? Is there new way to do it without Dockerfile?
like
 RUN logstash-plugin install logstash-filter-tld
RUN logstash-plugin install logstash-output-syslog

[2022-01-12 15:44] shiddy opened #54 "Elasticsearch container failing SSL on Apple Silicon"
**Describe the bug**
I've attempted pulling and running this with Docker Desktop on an x86 and a M1 mac machines from master and a clean docker cache (`docker system prune -a`).

On the M1 machine, The 3 containers spun up with `make setup && make elk` will be created without issue. However the elasticsearch container will always be in a (starting) state.

![image](https://user-images.githubuserco

[2022-01-12 15:49] shiddy commented on #54
I also should point out that it remains like this indefinitely on the M1, whereas this SSL response can occasionally show up on x86 but tends to resolve itself ~2 mins after starting the containers.

[2022-01-12 21:35] sherifabdlnaby commented on #54
@shiddy Can't test Elastdocker setup with M1 as I don't have M1 Macs at my disposal. However, the error is coming from curl, could it be a cURL's problem ? Have you tried going to https://localhost:9200 via Browser?

[2022-01-12 23:46] shiddy commented on #54
For sure, I have attempted accessing it from a browser and Firefox, Chrome, and Safari all return ssl issues or no data received.

I've attempted curl with the '-k' argument to ignore SSL. Which when using an x86 does return json data from elasticsearch.

Happy to hop on any call to help debug. I recognize it's hard to get context without more hands on keyboard access.

[2022-01-12 23:50] sherifabdlnaby commented on #54
@shiddy Yea, it will be hard to debug without M1 Access, have you tried asking docker not to use ARM Images and use x86+Rosetta instead? I believe it tries to get ARM Images by default, am I right?

[2022-01-18 21:49] TheoJL opened #55 "Using public certificate"
Really like this repo and works very good out of the box!

But can't figure out how to make it work with Lets Encrypt certs. I think I'm doing something really wrong.  Both Docker and ELK stack are very new to me.

So I've copied all certs to the `/secret` folder with generous permissions.
And then mapping them in `docker.compose.yml`

[code]

Running with this I get

logstash_1       | [2022-01-1

[2022-01-20 13:53] shiddy commented on #54
Just reaching out to follow up,  I am happy to dig in more with my machine though I am a little lost as to what to test next

[2022-01-20 17:08] sherifabdlnaby commented on #54
@shiddy Hey, sorry, haven't been able to find time to look into this. I don't even have a theory, to be honest, what happens if you try curl **from inside the container ?**, can you try exec-ing inside and see if HTTPS is responding?

[2022-01-20 17:12] sherifabdlnaby commented on #55
@TheoJL Yes, your Certificate subject should Match your Hostname, It was once suggested to support Let's Encrypt, but I didn't think it's a good idea to add move complexity for the project.

I personally use a LoadBalancer in the cloud to do SSL Termination.

[2022-01-20 17:13] sherifabdlnaby commented on #53
@bbatmandakh I am planning on reverting this change for Logstash, apologies for the inconvinence.

[2022-01-21 11:37] TheoJL commented on #55
Ah that's definitely makes sense. We also have a LoadBalancer/reverse-proxy solution now. Works very good.

[2022-01-21 11:37] #55 closed

[2022-02-01 15:07] Rerikhn opened #58 "Logstash config file"
Hello!
I am curious about the configuration of the Logstash container. I tried to edit "main.conf" file in "logstash/pipeline/".
Unfortunately, it does nothing for me. Even file output not working.
Where can I create or edit a configuration file for input/output?
Much thanks!
My main.conf file looks like this:

<img width="1027" alt="Снимок экрана 2022-02-01 в 18 06 55" src="https://user-images.gi

[2022-02-02 09:32] Rerikhn commented on #58
Solved by myself by mounting input file in docker-compose.yml.

[2022-02-02 09:32] #58 closed

[2022-02-12 20:13] ScottFred commented on #53
Until you have the time to reverting this change for Logstash, can you help me understand the best way to install a Logstash plugin?  Thanks!

[2022-02-18 13:33] shiddy commented on #54
I think that I finally figured it out. Remarkably silly conclusion.

One of the DIMMS on my M1 was failing memtest. During my regular usage of my mac, I didn't use enough resources to use 4GB of memory at a time. After finding that I had this memory issue and getting my M1 fixed and passing memtest and having my docker desktop VM with 4GB of memory I was able to run `make setup` and `make elk` wit

[2022-02-18 13:33] #54 closed

[2022-02-25 20:59] sherifabdlnaby commented on #53
@ScottFred  @bbatmandakh Functionality Restored in release v2.1.0

[2022-02-25 21:01] sherifabdlnaby commented on #46
Done in #59

[2022-02-25 21:01] #46 closed

[2022-02-25 21:01] #53 closed

[2022-02-27 01:44] m7mod opened #60 "Add APM Server"
**Describe the solution you'd like**
Add ELkStack APM Server

**Additional context**

[2022-02-28 11:51] sherifabdlnaby commented on #54
@shiddy Wow, that would have been too hard to debug 😅 Thank you for coming back and posting the conclusion.

[2022-03-03 09:34] pni-mft opened #61 "Error 64 on make setup when using ELK_VERSION=8.0.0"
**Describe the bug**
make setup fails when setting ELK_VERSION=8.0.0 or ELK_VERSION=8.0.1 in .env file

**To Reproduce**
set ELK_VERSION=8.0.0 or ELK_VERSION=8.0.1 in .env

`make setup`

**Expected behavior**
I expected it to build create setup files just as with 7.*

**Screenshots**

[code]

**Desktop (please complete the following information):**
[code]

**Additional context**
Works perfectly fi

[2022-03-03 12:04] sherifabdlnaby commented on #61
@pni-mft elastdocker doesn't support >= v8.* yet. I have it in the plan but I haven't had the time. With 8.0 just released I might work on this very soon!

[2022-03-03 14:11] ScottFred commented on #61
@sherifabdlnaby  This is a great repo!  Thanks for your efforts.  It might be good to modify your README.md to clarify that the repo only works with ELK_VERSION<8.

[2022-03-03 17:28] brandonros commented on #61
for what it's worth, I skipped logstash and did this:

[code]

[2022-03-03 22:40] sherifabdlnaby commented on #1
![Intro](https://user-images.githubusercontent.com/16992394/156664447-c24c49f4-4282-4d6a-81a7-10743cfa384e.png)
![Overview](https://user-images.githubusercontent.com/16992394/156664539-cc7e1a69-f1aa-4aca-93f6-7aedaabedd2c.png)
![Alerting](https://user-images.githubusercontent.com/16992394/156664848-d14f5e58-8f80-497d-a841-914c05a4b69c.png)

![Maps](https://user-images.githubusercontent.com/1699239

[2022-03-03 22:47] sherifabdlnaby commented on #61
I am almost done with upgrading Elastdocker template to start an >8.0 Cluster 🙌🏻.

[2022-03-03 23:29] #61 closed

[2022-03-04 02:41] pni-mft commented on #61
Aweseome!

[2022-03-19 19:47] ScottFred opened #64 "Docker Compose version 1.29.2 Incompatible with .env.kibana.token"
**Describe the bug**
The README.md says that this repo is compatible with Docker Compose version 1.29.2, but I found that this version of Docker compose is sensitive to white-space in .env files.  This is a known Docker Compose [issue](https://github.com/docker/compose/issues/7624) and has been resolved in later versions.

When starting elastdocker with `docker-compose up`, a warning message will

[2022-03-20 21:53] sherifabdlnaby commented on #64
Hello, I believe this was fixed by #63 ?

[2022-03-20 22:15] ScottFred commented on #64
Sorry!  You're right!  Thanks providing this great repo!

[2022-03-20 22:15] #64 closed

[2022-03-26 18:48] simwai opened #65 "Fastest way to get some integrations after doing the initial setup"
Hello,

I initialized now elastdocker like it was described here, but I am a complete ELK newby. Can somebody teach me, how I can get now some integrations on the fastest way? Is it necessary to setup these fleet stuff to get some integrations?

Ty for your help.

[2022-04-12 19:28] lawndoc commented on #23
Another year, another person interested in this feature :) I'm swamped through Monday but if I get some free time next week I might look into [elk-tls-docker's implementation](https://github.com/swimlane/elk-tls-docker/wiki/Letsencrypt%20Walkthrough) as @wallopthecat mentioned and see if I can finally make a PR for this.

[2022-04-16 11:57] supmanyu opened #69 ""Kibana server is not ready yet." after setting up containers"
First of all, I'd like to thank you for creating such a comprehensive guide to getting started with ELK!

I have followed the tutorial to get the stack up and running and didn't face any issues there. However, if I try to access KIbana on https://localhost:5601/, I get "Kibana server is not ready yet." in the browser. One thing to note is that the elastic_elasticsearch_1 container is stuck in the

[2022-04-19 15:07] jasonborchardt commented on #69
figured out my issue.  I needed to run this (ran it before, but needed to run it again after the reboot):
sudo sysctl -w vm.max_map_count=262144

[2022-04-20 04:12] lawndoc commented on #23
No longer Monday, but I did not forget about this. It's on my to-do list.

[2022-04-20 10:44] supmanyu commented on #69
thank you much! I also arrived at the same conclusion that there was a kernel panic happening due to a smaller max map count. closing this issue

[2022-04-20 10:44] #69 closed

[2022-04-26 08:53] bbatmandakh opened #70 "How to configure heartbeat with elasticsearch?"
Could you please guide me to how to configure heartbeat.yml for easly access with elasticsearch?

I'm tried following configuration...still no luck :(

###output

output.elasticsearch:
  hosts: ["https://192.168.1.1:9200"]
  protocol: "https"
  username: elastic
  password: changeme

#Use SSL settings for HTTPS.

  ssl.enabled: true

  ssl.certificate_authorities: ["/path/elastdocker/secrets/certs

[2022-04-26 09:30] bbatmandakh commented on #70
I tried this handshake problem is solved but still can't connect with elasticsearch

output.elasticsearch:
  hosts: ["https://192.168.1.1:9200"]
  protocol: "https"
  username: 'elastic'
  password: 'changeme'
  ssl.enabled: true
  ssl.certificate_authorities: ["/path/elastdocker/secrets/certs/ca/ca.crt"]
  ssl.verification_mode: none
#ssl.certificate: "/path/elastdocker/secrets/certs/elasticsearc

[2022-04-26 20:05] nikolinsko opened #71 "how to reset the password of a running stack"
Hi there,

this might be a pretty dumb question but how do i change the password of an existing cluster?

i tried editing the .env file followed by make setup and

- docker stop/start elastic_elasticsearch_1 elastic_kibana_1 elastic_logstash_1
- docker-compose down -> docker-compose-up -d

My service is public facing and i messed the initial password up ;)

Thanks in advance

[2022-04-27 02:02] sherifabdlnaby commented on #71
@nikolinsko You can use the [Change Password API](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-change-password.html). Or the [Utility Tools inside the container](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-passwords.html) (by exec'ing inside).

Another way would be to expose the password you want as an environment variable via `export ELAST

[2022-04-27 10:20] gluckzhang opened #72 "make prune will remove all the currently unused volumes"
First of all, thanks for this nice work!

Not a bug though, in the `Makefile`, I see that `docker volume prune -f` is used. But maybe users only want to delete the ELK-related volumes. For example, I just accidentally removed all the volumes on my computer. Luckily there is no important data lost :smile:

I would suggest adding a filter in this `docker volume prune` command. This will be done in a

[2022-04-29 01:50] #72 closed

[2022-04-29 15:55] nikolinsko commented on #71
thanks alot, i'll give it a try.

Closing this now :)

[2022-04-29 15:55] #71 closed

[2022-05-27 04:50] MarkVorkosigan opened #75 "How to connect Metricbeat?"
I've managed to start containers and log in Kibana. But I don't understand what to do next in order to connect my Metricbeat. I copied elastdocker/secrets/ca/ca.crt to my Windows computer with Metricbeat in Trusted Certificates. But it doesn't send any logs to Elasticsearch.

[2022-06-21 17:03] jdnielss opened #76 "Running cert errors"
hi, i wan't to running ELK using this repository.

I follow the tutorial from this readme, but I got an error when "make setup" in pulling cert.

configuration is default from this repo

![image](https://user-images.githubusercontent.com/28420302/174856962-80dd38df-5f84-46f4-a332-b0f0de4909bd.png)

[code]

[2022-06-21 17:07] jdniels commented on #76
![image](https://user-images.githubusercontent.com/28420302/174857799-6d39137a-39d9-4353-a8fb-a0216b60253b.png)
and i run command docker-compose, i got error kibana error

[2022-06-21 17:19] jdniels commented on #76
Solved, but i got more error

[code]

[code]

[2022-06-30 07:45] enstit opened #77 "README error in Configuration section"
**Bug description**

In the README file, under the Configuration section, you should change

* Logstash Pipeline in `main.conf` at `./elasticsearch/pipeline/main.conf`.

to

* Logstash Pipeline in `main.conf` at `./logstash/pipeline/main.conf`.

[2022-07-03 15:12] sherifabdlnaby commented on #77
@enstit Thanks, I'll make sure to fix it on the next release, PRs are welcome too 😉

[2022-07-05 01:09] bbatmandakh commented on #70
just  "ssl.verification_mode: none" works

[2022-07-05 01:09] #70 closed

[2022-07-05 01:20] bbatmandakh opened #78 "Elastalert missing"
Elastalert no more part of this project?

[2022-07-05 11:25] sherifabdlnaby commented on #78
@bbatmandakh No, it was discontinued in favor of ELK Built-In Alerts (requires TLS to be enabled).

[2022-07-06 14:17] #78 closed

[2022-07-09 15:47] #77 closed

[2022-07-19 21:31] zeihanaulia opened #80 "fail connecting apm-server to kibana"
Ask a question...

I want to add apm-server to this stack, so I try to add a new service

[code]
all services running and apm-server is correctly setup.

![Screenshot 2022-07-20 041410](https://user-images.githubusercontent.com/5449841/179849982-1cde72b2-7e33-4e97-81e6-bee8ab5972cf.png)

![Screenshot 2022-07-20 041742](https://user-images.githubusercontent.com/5449841/179850202-d34fd2ed-5583-4fb8-

[2022-07-19 22:37] #80 closed, assigned to nobody

[2022-07-20 23:30] ThrownLemon commented on #23
+1 also looking for a solution for this.

[2022-07-25 09:50] thor0155 commented on #76
i got same problem, and why it concern about aws, so can i disable it?

[2022-07-25 15:44] lawndoc commented on #23
I'm back with an idea, and would like some input from repo maintainers on if they think this is a good solution.

I have tested a docker-compose setup that uses the official certbot container to auto-generate certs. Certbot shares a volume with nginx, and nginx uses the files put in that volume by certbot for TLS. Below is an example configuration:

[code]

What do you all think about this solutio

[2022-07-25 15:46] lawndoc commented on #23
Documentation will also need to be updated because there would be some prerequisite work that would need to be done (setting up DNS and port forwarding so letsencrypt can reach the service).

[2022-07-25 15:49] lawndoc commented on #23
It's really up to @sherifabdlnaby if he wants to add to the scope of this project. Anyone is able to deploy the above docker-compose file and add their own nginx configurations create a reverse proxy to kibana. It's just a matter of whether we want this project to handle that when needed, or just provide instructions on how people can do that themselves.

[2022-08-10 02:18] fireflyt opened #82 "An unexpected authentication error occurred. Please log in again."
Ask a question...    This error is always reported after another normal login

![image](https://user-images.githubusercontent.com/45816007/183795674-5f073d30-e48a-4397-becc-ca80248da69c.png)

[2022-08-21 14:00] whenSunSet opened #83 "can not change port"
**Describe the bug**
i wan to change port in .env file. but i was failed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to .env change port to 7761/7762/7763
2. run make setup
3. run make build
4. run make lkd

**Expected behavior**
i can visit kibana in https://localhost:7762

but https://localhost:7762 can not open

**Desktop (please complete the following information):**
 - OS: Ubuntu

[2022-10-24 19:04] bigverm23 opened #84 "No Kibana Token"
[code]

[2022-10-24 19:11] #84 closed

[2022-11-11 13:10] sbusch commented on #23
Problem with LE (e.g. with certbot as proposed by @lawndoc) is that LE normally needs public access to the webserver. Which is not possible especially for private test setups.

OTOH so far we had good experience with [`mkcert`](https://github.com/FiloSottile/mkcert) which needs to be run at the host. It creates a CA which is added to the systems and browsers trust store automatically and then crea

[2022-11-23 11:25] #60 closed

[2022-11-26 14:43] dama-de opened #87 "APM server does not start with default configuration"
**Describe the bug**
While setting up elastdocker today, I noticed that the recently added APM server logs an error about the config file having the wrong permissions. I was able to fix this by running `chmod g-w apm-server/data/apm-server.yml`, this command could be included into the setup scripts. There is an alternative method via env var described in https://github.com/elastic/beats/issues/188

[2022-11-27 17:30] LAZYVAMPIRE opened #88 "Unable to connect with localhost url"
when i tried to go to localhost:5601 it didn't show anything but the following error
![Screenshot 2022-11-27 225943](https://user-images.githubusercontent.com/114327885/204150636-3e92df89-0ee6-4021-a0d1-bd9ce16ed397.png)

[2022-11-28 03:37] LAZYVAMPIRE commented on #88
it worked by just adding https:// at hte start of the ip

[2022-11-28 03:37] #88 closed

[2022-11-28 16:02] mostafahussein commented on #87
Hello @dama-de ,
Thanks for reporting, unfortunately, I was not able to reproduce it as per the attached logs.
I tested it by cloning the repository and executing `make setup` then `docker compose up -d`

<img width="1790" alt="Screen Shot 2022-11-28 at 7 55 06 PM" src="https://user-images.githubusercontent.com/4104127/204323998-eec37bde-c75c-40ba-8d49-cdcb0bd15354.png">
<img width="1790" alt="Scr